html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  background-color: #000000b8;
  position: relative;
  letter-spacing: 0.2px;
}

#body {
  display: flex;
  justify-content: center;
  margin-top: 80px; /* 16px (header height) + 2 x 32px (header padding) */
}

.section {
  width: 100%;
  padding: 32px;
}

.spinner {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border: 4px solid slategrey;
  border-top-color: ghostwhite;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
