@media only screen and (max-width: 960px) {
  #header {
    flex-direction: column;
    height: 48px; /* 16px (top row height) + 16px (top row bottom padding) + 16px (icon row height) */
    padding: 16px 8px;
  }

  #home {
    /* 80px = 48px (header height) + 2 x 16px (header padding) so background image will fit without a y scrollbar */
    height: calc(100vh - 80px);
    padding: 0;
  }

  #travel {
    padding: 8px;
  }

  #code {
    display: grid;
    grid-template-columns: auto;
    padding: 30px;
    gap: 30px;
  }

  .section {
    margin-top: 80px; /* 48px (header height) + 2 x 16px (header padding) so background image will fit without a y scrollbar */
  }

  #title {
    display: none;
  }

  #title-initial {
    display: initial;
    flex: 1;
  }

  .section-links {
    border: none;
    text-align: left;
    padding: 0 0 16px 8px;
  }

  .personal-links {
    text-align: left;
    padding: 0;
    height: 16px;
  }

  .project {
    height: auto;
  }

  .project-description {
    height: auto;
  }

  .overlay-text {
    font-size: 10px;
  }

  #photo-grid {
    grid-template-columns: auto auto;
  }
}
