html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Tahoma, sans-serif;
  background-color: ghostwhite;
  position: relative;
  letter-spacing: 0.2px;
}

#header {
  display: flex;
  position: fixed;
  top: 0;
  padding: 32px;
  margin: 0;
  height: 16px;
  width: 100%;
  border-bottom: #888888 solid 1px;
  background: ghostwhite;
  z-index: 1;
}

#body {
  display: flex;
  justify-content: center;
  margin-top: 80px; /* 16px (header height) + 2 x 32px (header padding) */
}

#title,
#title-initial {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#title {
  flex: 1;
}

#title-initial {
  display: none;
  padding: 0 8px 0 0;
}

.section-links {
  flex: 1;
  text-align: right;
  border-right: 1px solid black;
  font-size: 14px;
  padding: 0 8px 0 0;
}

.section-links span {
  cursor: pointer;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-link {
  padding: 0 16px;
}

.section-link-selected {
  color: navy;
}

.personal-links {
  height: 100%;
  text-align: right;
  padding: 0 0 0 10px;
}

.personal-links img {
  height: 100%;
  padding: 0 10px;
}

.section {
  width: 100%;
  padding: 24px;
  background-color: #000000b8;
}

#home {
  /* height of header (80px) so background image will fit without a y scrollbar */
  height: calc(100vh - 80px);
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  background-image: linear-gradient(
      black,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/photos/Tribute in Light (Bridge).jpg");
}

#code {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  place-content: center;
}

.project {
  border: 1px solid #888888;
  border-radius: 8px;
  background-color: ghostwhite;
  width: 300px; /* matches image width */
}

.project-image {
  text-align: center;
  width: auto;
}

.project-image img {
  height: 400px;
  width: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.project-title {
  text-align: center;
  font-size: 14px;
  padding: 8px;
  letter-spacing: 2px;
}

.project-title a {
  color: black;
}

.project-title a:hover {
  color: navy;
}

.project-description {
  height: 140px;
  padding: 16px;
  color: lightslategray;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.project-links {
  text-align: center;
  padding-bottom: 8px;
}

.project-links img {
  height: 16px;
  padding: 6px 12px;
}

.project-link {
  text-decoration: none;
}

#photo-grid {
  display: flex;
  flex-direction: column;
}

.photo-row {
  display: flex;
}

.photo {
  flex: 1;
  padding: 8px;
  position: relative;
}

.photo img {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.photo-overlay {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  opacity: 0;
  transition: 0.2s ease;
  background-color: #000000b8;
}

.photo:hover .photo-overlay {
  opacity: 0.75;
}

.overlay-text {
  color: ghostwhite;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 960px) {
  #header {
    flex-direction: column;
    height: 56px;
  }

  #body {
    margin-top: 120px; /* 56px (header height) + 2 x 32px (header padding) */
  }

  #title {
    display: none;
  }

  #title-initial {
    display: initial;
    flex: 1;
  }

  .section-links {
    border: none;
    text-align: left;
    padding: 0 0 16px 8px;
  }

  .personal-links {
    text-align: left;
    padding: 0;
    height: 16px;
  }

  #home {
    /* height of header (120px) so background image will fit without a y scrollbar */
    height: calc(100vh - 120px);
    padding: 0;
  }

  .project {
    height: auto;
    padding: 8px 24px;
  }

  .project-description {
    height: auto;
  }

  #travel {
    padding: 8px;
  }

  #code {
    display: grid;
    grid-template-columns: auto;
    padding: 30px;
    gap: 30px;
  }

  .overlay-text {
    font-size: 10px;
  }
}
