body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: ghostwhite;
    position: relative;
    scroll-behavior: smooth;
}

#navigation {
    position: fixed;
    color: lightslategray;
    background-color: transparent;
    height: 200px;
    top: calc((100vh - 200px)/2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
}

.navigation-line:hover {
    color: black;
}

.navigation-line span {
    font-size: 24px;
    padding: 0 16px;
}

.navigation-line a {
    text-decoration: none;
}

.navigation-line a:visited {
    color: inherit;
}

#home {
    height: 100vh;
}

#home-name {
    text-align: center;
    padding: 200px 0 20px;
    font-size: 40px;
    letter-spacing: 4px;
}

#home-links {
    text-align: center;
}

#home-links img {
    height: 22px;
    padding: 0 10px;
}

#projects, #photography, #biography {
    padding: 20px 40px 20px 200px;
    box-shadow: 0px 2px 20px #888888;
}

.section-name {
    font-size: 24px;
    padding: 20px 0;
}

#projects {
    background-color: #eceef97a;
}

.project {
    height: 400px;
    display: flex;
    padding: 20px 0 40px;
}

.project-image {
    flex: 1;
    text-align: center;
}

.project-image img {
    height: 400px;
    width: 300px;
    border: 1px solid;
    border-radius: 6px;
    box-shadow: 0px 0px 20px #888888;
}

.project-description {
    flex: 1;
}

.project-title {
    text-align: center;
    padding-bottom: 6px;
}

.project-summary, .project-technologies, .biography-summary {
    padding: 6px 0;
    color: lightslategray;
    line-height: 28px;
    font-size: 14px;
}

.project-technologies {
    font-style: italic;
}

.project-links {
    text-align: center;
}

.project-links img {
    height: 30px;
    padding: 6px 12px;
}

#photography {
    background-color: #000000b8;
    position: relative;
}

#photography .section-name {
    color: ghostwhite;
}

#photography .button {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 16px;
    color: ghostwhite;
    border: ghostwhite 1px solid;
    font-size: 12px;
    background-color: black;
    height: 16px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 16px;
}

#photography .button:hover {
    background-color: transparent;
}

#photo-grid {
    display: flex;
    flex-direction: column;
}

.photo-row {
    display: flex;
}

.photo {
    flex: 1;
    padding: 8px;
}

.photo img {
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#biography {
    height: 100vh;
}

@media only screen and (max-width: 768px) {
    #navigation {
        display: none;
    }
}