html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: ghostwhite;
  position: relative;
  letter-spacing: 0.2px;
}

#header {
  display: flex;
  padding: 24px;
  margin: 0;
}

.title {
  flex: 1;
  letter-spacing: 2px;
  font-size: 16px;
}

.title-initials {
  display: none;
}

.section-links {
  flex: 1;
  text-align: right;
  border-right: 1px solid black;
  font-size: 14px;
  padding: 0 8px 0 0;
}

.section-links span {
  cursor: pointer;
  line-height: 16px;
  letter-spacing: 2px;
}

.section-link {
  padding: 0 16px;
}

.section-link-selected {
  color: #013de2;
}

.personal-links {
  text-align: right;
  padding: 0 0 0 10px;
}

.personal-links img {
  height: 18px;
  padding: 0 10px;
}

#code,
#travel {
  padding: 40px;
  min-height: 100vh;
  border-top: #888888 solid 1px;
}

#code {
  background-color: #eceef97a;
  padding: 30px;
  gap: 30px;
  display: grid;
  grid-template-columns: auto auto;
}

.project {
  padding: 30px;
  border: 1px solid #888888;
  border-radius: 8px;
  background-color: white;
}

.project-image {
  padding: 10px 0;
  text-align: center;
  width: auto;
}

.project-image img {
  height: 400px;
  width: 300px;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.project-title {
  text-align: center;
  padding-bottom: 8px;
  letter-spacing: 2px;
}

.project-title a {
  color: #013de2;
}

.project-title a:hover {
  color: navy;
}

.project-description {
  border-bottom: 1px solid dimgray;
  height: 150px;
}

.project-description,
.project-technologies {
  padding: 16px 0;
  color: lightslategray;
  line-height: 28px;
  letter-spacing: 0.4px;
}

.project-description,
.project-technologies {
  font-size: 12px;
}

.project-technologies {
  font-style: italic;
  text-align: center;
  height: 88px;
}

.project-links {
  text-align: center;
}

.project-links img {
  height: 30px;
  padding: 6px 12px;
}

.project-link {
  text-decoration: none;
}

#travel {
  background-color: #000000b8;
}

#photo-grid {
  display: flex;
  flex-direction: column;
}

.photo-row {
  display: flex;
}

.photo {
  flex: 1;
  padding: 8px;
  position: relative;
}

.photo img {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.overlay {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  opacity: 0;
  transition: 0.2s ease;
  background-color: #000000b8;
}

.photo:hover .overlay {
  opacity: 0.75;
}

.photo-text {
  color: ghostwhite;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 960px) {
  #header {
    flex-direction: column;
  }
  .title {
    display: none;
  }

  .title-initials {
    display: initial;
    flex: 1;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 0 8px 0 0;
  }

  .section-links {
    border: none;
    text-align: left;
    padding: 0 0 16px 8px;
  }

  .personal-links {
    text-align: left;
    padding: 0;
  }

  .project {
    height: auto;
    padding: 30px;
  }

  .project-description,
  .project-technologies {
    height: auto;
  }

  #travel {
    padding: 8px;
  }

  #code {
    display: grid;
    grid-template-columns: auto;
    padding: 30px;
    gap: 30px;
  }

  .photo-text {
    font-size: 10px;
  }
}
