#code {
  gap: 32px; /* matches section padding */
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  place-content: center;
}

.project {
  border-radius: 8px;
  background-color: ghostwhite;
  width: 300px; /* matches image width */
}

.project-image {
  text-align: center;
}

.project-image img {
  display: block;
  height: 400px;
  width: 300px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project-title {
  font-size: 14px;
  padding: 16px 0 0 16px;
  letter-spacing: 2px;
}

.project-title a {
  color: black;
}

.project-title a:hover {
  color: navy;
}

.project-description {
  height: 140px;
  padding: 16px;
  color: lightslategray;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.project-links {
  text-align: center;
  padding-bottom: 8px;
}

.project-links img {
  height: 16px;
  padding: 6px 12px;
}

.project-link {
  text-decoration: none;
}
