@media only screen and (max-width: 960px) {
  #header {
    flex-direction: column;
    height: 56px; /* 24px (top row height) + 16px (top row bottom padding) + 16px (icon row height) */
  }

  #body {
    margin-top: 120px; /* 56px (header height) + 2 x 32px (header padding) */
  }

  #title {
    display: none;
  }

  #title-initial {
    display: initial;
    flex: 1;
  }

  .section-links {
    border: none;
    text-align: left;
    padding: 0 0 16px 8px;
  }

  .personal-links {
    text-align: left;
    padding: 0;
    height: 16px;
  }

  #home {
    /* height of header (120px) so background image will fit without a y scrollbar */
    height: calc(100vh - 120px);
    padding: 0;
  }

  .project {
    height: auto;
  }

  .project-description {
    height: auto;
  }

  #travel {
    padding: 8px;
  }

  #code {
    display: grid;
    grid-template-columns: auto;
    padding: 30px;
    gap: 30px;
  }

  .overlay-text {
    font-size: 10px;
  }
}
